@using WebGrease.Configuration
@using YANBE.Library
@model YANBE.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    
    <!-- Posts -->
    <div class="col-md-8">
        <div class="posts">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create", "Post")">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            }
            <div class="row">
                @if (Model.Count == 0)
                {
                    <h2>No posts to display!</h2>
                }
                else
                {
                    foreach (var item in Model.Posts)
                    {
                        <div class="col-md-12 post">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2>@Html.ActionLink(item.Title, "View", "Post", new { item.Id, slug = item.TitleSlug }, null)</h2>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="col-md-4 text-right actions">
                                        <p>
                                            <a href="@Url.Action("Edit", "Post", new {item.Id})">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            <a href="@Url.Action("Delete", "Post", new {item.Id})">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </p>
                                    </div>
                                }
                                
                            </div>

                            <div class="row contents">
                                <div class="col-md-12">
                                    @Html.Raw(item.Body)
                                    <small>
                                        Created by x at @Html.DisplayFor(x => item.PublishedDate)
                                    </small>
                                </div>
                            </div>
                            
                        </div>
                    }
                }
            </div>

            <div class="row" style="font-size:150%;">
                <hr />
                <div class="col-md-3">
                    @if (Model.Page > 1)
                    {
                        @Html.ActionLink("Newer", "Index", "Home", new { page = Model.Page - 1 }, null)
                    }
                </div>

                <div class="col-md-9 text-right">
                    @if (Model.Count > (Model.Page * GlobalConfiguration.ItemsPerPage))
                    {
                        @Html.ActionLink("Older", "Index", "Home", new { page = Model.Page + 1 }, null)
                    }
                </div>
            </div>
        </div>
        
    </div>
    <!-- //Posts --> 
    <!-- Sidebar -->
    <div class="col-md-4">
        <h4>Pages
            @if (User.Identity.IsAuthenticated)
            {
                <small>
                    <a href="@Url.Action("Create", "Page")">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </small>
            }
        </h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Pages)
            {
                <li>
                    @Html.ActionLink(item.Title, "View", "Page", new { id = item.Id, slug = item.TitleSlug }, null) 
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", "Page", new { id = item.Id })"> 
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Page", new { id = item.Id })"> 
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </li>
            }
            
        </ul>
        <h4>Tags</h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Tags)
            {
                <li>@Html.ActionLink(item.Name.Replace(" ", " "), "Details", "Tags", new { id = item.Name.Replace(" ", "-") }, null)</li>
            }
        </ul>
        <h4>
            Links
            @if (User.Identity.IsAuthenticated)
            {
                <small>
                    <a href="@Url.Action("Create", "Page")">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </small>
            }
        </h4>
        <ul class="list-unstyled">
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
            }
        </ul>
            

    </div>
    <!-- //Sidebar -->
</div>
