@using System.Security.Policy
@using YANBE.Library
@model YANBE.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}
@section header
{
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "389dabf0-7be8-425e-8205-8dded2c4c406", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
}
<div class="row">
    
    <!-- Posts -->
    <div class="col-md-8">
        <div class="posts">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create", "Post")">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            }
            <div class="row">
                @if (Model.Count == 0)
                {
                    <h2>No posts to display!</h2>
                }
                else
                {
                    foreach (var item in Model.Posts)
                    {
                        <div class="col-md-12 post">
                            <div class="row">
                                <div class="col-md-10">
                                    <h2>@Html.ActionLink(item.Title, "View", "Post", new { item.Id, slug = item.TitleSlug }, null)</h2>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="col-md-2 text-right actions">
                                        <p>
                                            <a href="@Url.Action("Edit", "Post", new {item.Id})">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            <a href="@Url.Action("Delete", "Post", new {item.Id})">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </p>
                                    </div>
                                }
                                
                            </div>

                            <div class="row contents">
                                <div class="col-md-12">
                                    @Html.Raw(item.Body)
                                    <small>
                                        Created by x at @Html.DisplayFor(x => item.PublishedDate)
                                    </small>
                                </div>
                            </div>
                            @if (item.Tags != null && item.Tags.Any())
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        Tags:
                                        @{
                                            var list = item.Tags.Select(tag => Html.ActionLink(tag.Name, "Details", "Tags", new {id = tag.Name}, null)).ToList();
                                            @Html.Raw(string.Join(", ", list))
                                        }
                                    </div>
                                </div>
                            }
                            <div class="row" id="sharethis">
                                <div class="col-md-12">
                                    @{
                                        var shares = new Dictionary<string, string>()
                                        {
                                            { "st_sharethis", "ShareThis" },
                                            { "st_facebook", "Facebook" },
                                            { "st_twitter", "Tweet" },
                                            { "st_googleplus", "Google +" },
                                            { "st_email", "Email" },
                                            { "st_linkedin", "LinkedIn" },
                                        };
                                        foreach (var share in shares)
                                        {
                                            <span class="@share.Key" st_url="@Url.Action("View", "Post", new { item.Id, slug = item.TitleSlug })" st_title="@item.Title"></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="row" style="font-size:150%;">
                <hr />
                <div class="col-md-3">
                    @if (Model.Page > 1)
                    {
                        @Html.ActionLink("Newer", "Index", "Home", new { page = Model.Page - 1 }, null)
                    }
                </div>

                <div class="col-md-9 text-right">
                    @if (Model.Count > (Model.Page * GlobalConfiguration.ItemsPerPage))
                    {
                        @Html.ActionLink("Older", "Index", "Home", new { page = Model.Page + 1 }, null)
                    }
                </div>
            </div>
        </div>
        
    </div>
    <!-- //Posts --> 
    <!-- Sidebar -->
    <div class="col-md-4">
        <h4>Pages
            @if (User.Identity.IsAuthenticated)
            {
                <small>
                    <a href="@Url.Action("Create", "Page")">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </small>
            }
        </h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Pages)
            {
                <li>
                    @Html.ActionLink(item.Title, "View", "Page", new { id = item.Id, slug = item.TitleSlug }, null) 
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Edit", "Page", new { id = item.Id })"> 
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Page", new { id = item.Id })"> 
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </li>
            }
            
        </ul>
        <h4>Tags</h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Tags)
            {
                <li>@Html.ActionLink(item.Name.Replace(" ", " "), "Details", "Tags", new { id = item.Name.Replace(" ", "-") }, null)</li>
            }
        </ul>
        <h4>
            Links
            @if (User.Identity.IsAuthenticated)
            {
                <small>
                    <a href="@Url.Action("Create", "Page")">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </small>
            }
        </h4>
        <ul class="list-unstyled">
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
            }
        </ul>
            

    </div>
    <!-- //Sidebar -->
</div>
