@using WebGrease.Configuration
@using YANBE.Library
@model YANBE.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            @if (Model.Count == 0)
            {
                <h2>No posts to display!</h2>
            }
            else
            {
                foreach (var item in Model.Posts)
                {
                    <h2>@Html.ActionLink(item.Title, "View", "Post", new { item.Id, slug = item.TitleSlug }, null)</h2>
                    @Html.Raw(item.Body)
                    <hr/>
                    <p>Created by x at @Html.DisplayFor(x => item.PublishedDate)</p>
                
                }
            }
        </div>
        <div class="row">
            @if (Model.Page > 1)
            {
                @Html.ActionLink("Newer", "Index", "Home", new { page  = Model.Page - 1 }, null)
            }
            @if (Model.Count > (Model.Page*GlobalConfiguration.ItemsPerPage))
            {
                @Html.ActionLink("Older", "Index", "Home", new { page = Model.Page + 1 }, null)
            }
        </div>
    </div>
    <div class="col-md-4">
        <h4>Pages</h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Pages)
            {
                <li>@Html.ActionLink(item.Title, "View", "Page", new { id = item.Id, slug = item.TitleSlug }, null)</li>
            }
        </ul>
        <h4>Tags</h4>
        <ul class="list-unstyled">
            @foreach (var item in Model.Tags)
            {
                <li>@Html.ActionLink(item.Name.Replace(" ", " "), "Details", "Tags", new { id = item.Name.Replace(" ", "-") }, null)</li>
            }
        </ul>
    </div>
</div>